# =========================
# SECRETS
# =========================

.vault_pass
*.vault_pass

# =========================
# SSH
# =========================

*.pem
*.key
id_rsa*
id_ed25519*

!roles/**/files/*.pub

# =========================
# ANSIBLE
# =========================

*.retry
ansible.log

# =========================
# CACHE
# =========================

__pycache__/
*.pyc
*.swp

# =========================
# ENV
# =========================

.env

# =========================
# LOGS
# =========================

*.log

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Folder galaxy_roles
# =========================

geerlingguy.docker