[defaults]
inventory = inventory/dev/hosts.yml
host_key_checking = False
collections_paths = ./galaxy_collections
roles_path = ./galaxy_roles:./roles
vault_password_file = .vault_pass
[ssh_connection]
ssh_args = -o ProxyJump=bob@192.168.0.14
